In [1]:
import numpy
import pandas as pd
import tweepy
import json
import urllib.request, urllib.error, urllib.parse
import html
from tkinter import *

In [47]:
tweets = []
for line in open('stream_tesla.txt', 'r'):
    tweets.append(json.loads(line))

In [48]:
li=[]
tweet_date=[]
tweet_id=[]
text=[]
user_id=[]
username=[]
userLocation=[]
followersCount=[]
friendsCount=[]
statusesCount=[]
favouriteCount=[]
verified=[]
for x in tweets:
    
    tweet_date.append(x["created_at"])
    tweet_id.append(x["id"])
    text.append(x["text"])
    user_id.append(x["user"]["id"])
    username.append(x["user"]["name"])
    userLocation.append(x["user"]["location"])
    followersCount.append(x["user"]["followers_count"])
    friendsCount.append(x["user"]["friends_count"])
    statusesCount.append(x["user"]["statuses_count"])
    favouriteCount.append(x["user"]["favourites_count"])
    verified.append(x["user"]["verified"])

In [49]:
df = pd.DataFrame({"tweet_date":tweet_date, "tweet_id":tweet_id,"text": text,"user_id": user_id,"username": username, "userLocation":userLocation, "followersCount":followersCount, "friendsCount":friendsCount, "statusesCount":statusesCount, "favouriteCount":favouriteCount, "verified":verified})

In [50]:
len(df)

3458

In [51]:
df.head()

,tweet_date,tweet_id,text,user_id,username,userLocation,followersCount,friendsCount,statusesCount,favouriteCount,verified
0,Thu Dec 13 00:16:28 +0000 2018,1073008719368048642,@FairDinkumCap DiCaprio hooked up with BYD. #T...,263005044,Kawasook,"Huntington Beach, CA",834,2687,11879,31550,False
1,Thu Dec 13 00:16:30 +0000 2018,1073008725735161856,"Ah yes, yet another two-Tesla owner. From Hob...",875784434041147393,CrowPointPartners,"Boston, MA",2506,514,4862,2121,False
2,Thu Dec 13 00:16:37 +0000 2018,1073008757070839820,RT @nataliesurely: The workers who fought to w...,2790648792,Oliver Holtaway,"Bath, Bristol & London",457,424,2183,1632,False
3,Thu Dec 13 00:16:38 +0000 2018,1073008761130803200,@kirstiealley @elonmusk At the cost of the Ame...,1057480999943032832,Pac_Watson,"California, USA",288,346,754,2973,False
4,Thu Dec 13 00:16:41 +0000 2018,1073008772287815681,"RT @markbspiegel: ""Audi e-tron Makes Switching...",1424640954,Peter Roselle,"Florida, USA",415,1234,10297,36843,False

In [52]:
df.to_csv("tesla.csv")